<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners.TestListeners"/>
    </listeners>
    <test  verbose="2" preserve-order="true" name="User-SMOKE TEST">
        <classes>
            <class name="Users.SmokeTest">
            </class>
        </classes>
    </test>
    <test  verbose="2" preserve-order="true" name="User-DataDrivenTesting">
        <classes>
            <class name="Users.DataDrivenTesting.RegisterUserApiTest">
            </class>
        </classes>
    </test>
    <test  verbose="2" preserve-order="true" name="Contact-SMOKE TEST">
        <classes>
            <class name="Contacts.SmokeTest">
            </class>
        </classes>
    </test>
</suite>